# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Native generated folders
/android
/ios

# Native / signing / certificates
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS / Windows
.DS_Store
Thumbs.db

# environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# cache
.cache/

# coverage
coverage/

# Claude
.claude/